body {
    background-color: #5f5f5f;
}

h1 {
    font-family: Arial, sans-serif;
    color: #f1f1f1;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    color: #f1f1f1;
    text-align: left;
}
p {
    font-family: Arial, sans-serif;
    color: #f1f1f1;
}

ul {
    font-family: Arial, sans-serif;
    color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    list-style-type: none;
}

button {
    outline-style: outset;
    outline-color: #162b52;
    outline-width: 4px;
}