body {
    background-color: #f1f1f1;
}

h1 {
    font-family: Arial, sans-serif;
    color: #548CA8;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    color: #548CA8;
    text-align: left;
}

p {
    font-family: Arial, sans-serif;
    color: #548CA8;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #f1f1f1;
    background-color: #476072;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    text-decoration: none;
}

.nav-menu li {
    margin-right: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    float: left;
    flex-wrap: wrap;
    align-content: space-evenly;
}

a.nav-links:link {
   color: #f1f1f1;
   text-decoration: none;
}

a.nav-links:visited {
   color: #f1f1f1;
   text-decoration: none;
}

a.nav-links:hover {
   color: #5a7ff8;
   text-decoration: none;
}

a.nav-links:active {
   color: #5a7ff8;
   text-decoration: none;
}

.food-links li {
    list-style-type: none;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.food-names {
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #f1f1f1;
}

.food-image {
    border-style: solid;
    border-color: #476072;
    border-width: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 10px;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}